/GasDetectionRobot-Python/__pycache__/*
/GasDetectionRobot-Server/node_modules/*
/GasDetectionRobot-Server/logs/logging.log
/GasDetectionRobot-Server/public/images/*
/Latext Images/
/latext_template.txt